.home-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.nav-container {
    text-align: left;
}

.btn-outline-primary {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 200px;
    margin-right: 10px;
}

.search-button {
    height: 38px;
}

.button-container {
    display: flex;
    justify-content: center;
}

main {
    margin-top: 0; /* Removed extra space between buttons and main section */
}

footer {
    margin-top: 20px;
}

footer a {
    color: #1da1f2;
    margin-left: 5px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
